body {
    text-align: center;
}

#logo {
    max-height: 90vh;
    margin: 0 auto;
    max-width: 90vh;
    z-index: 10;
    position: relative;
}

td {
    width: 2px;
    height: 100px;
}

#freqAnalyzer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
}

#freqAnalyzer g {
    width: inherit;
}